{:deps {org.clojure/clojure {:mvn/version "1.12.4"}
        babashka/fs {:mvn/version "0.5.30"}
        org.babashka/http-client {:mvn/version "0.4.23"}
        org.clj-commons/digest {:mvn/version "1.4.100"}}
 :paths ["src"]

 :aliases {:dev {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]
                  :extra-deps {eftest/eftest {:mvn/version "0.6.0"}
                               cloverage/cloverage {:mvn/version "1.2.4"}}
                  :exec-fn cloverage.coverage/run-project
                  :exec-args {:test-ns-path ["test"]
                              :src-ns-path ["src"]
                              :runner :eftest
                              :runner-opts {:multithread? false}}}

           :outdated {:extra-deps {com.github.liquidz/antq ^:antq/exclude {:mvn/version "2.11.1276"}}
                      :main-opts ["-m" "antq.core" "--no-diff"]}

           :build {:deps {io.github.abogoyavlensky/slim {:mvn/version "0.3.2"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default slim.lib
                   :exec-args {:version "0.1.2"
                               :lib io.github.abogoyavlensky/manifest-edn
                               :url "https://github.com/abogoyavlensky/manifest-edn"
                               :description "A small Clojure/Babashka library for hashing static assets"
                               :developer "Andrey Bogoyavlenskiy"}}}}
